{% extends "base.html" %}
{% block title %}Credits{% endblock %}

{% block main %}
<div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
    <div class="title mt-6">Credits</div>
    <ul>
        <li class="m-4">
            <a href="https://www.flaticon.com/free-icons/book" title="book icons">- Book icon created by Freepik -
                Flaticon</a>
        </li>
        <li class="m-4">
            <a
                href="https://www.freepik.com/free-vector/student-with-laptop-studying-online-course-woman-sitting-stack-books-using-computer-vector-illustration-internet-school-knowledge-education-concept_10174090.htm#query=vector%20study%20background&position=22&from_view=search&track=ais">- Image
                by pch.vector</a> on Freepik
        </li>
        <li class="m-4">
            - Fonts by Google Fonts
        </li>
        <li class="m-4">
            - CSS framework by Bulma
        </li>
    </ul>
</div>
{% endblock %}