{% extends "base.html" %}
{% block title %}Join Now!{% endblock %}
{% block login %}
    <a href="/login" class="button is-success is-light mx-3"><i class="fa-solid fa-right-to-bracket mr-2"></i>Login</a>
{% endblock %}

{% block main %}

<section class="index-hero section is-flex is-justify-content-flex-start ">
    <div class="has-text-left">
        <h1 class="title title-hero is-spaced has-text-black handwriting">
            Access your potential
        </h1>
        <h2 class="subtitle is-3 has-text-grey">
            All resources for studying in one place.
        </h2>
    </div>
</section>

{% endblock %}